html,body{ width: 100%;
    height: 100%;
    

}

.degrade-fundo {
         background: #FF8A14;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #F53543, #FF8A14, 
        #ec3a4f);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #F53543, #FF8A14, 
        #ec3a4f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.shaped-fundo {
    background-color:#F53543 ;

}

:root{
    --primary: #ec3a4f;
    --secondary: #ef8247;
    --primary-light: #e57c8d;
    --primary-text-color: #faf6f5;
    --secondary-text-color: #3f2a18;
    
}